<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LNTheme-Universal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>LNTheme.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>LNThemeDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>LNThemeTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AF5E525B1E667A6D001E9E82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF5E52631E667B59001E9E82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF5E527B1E667B59001E9E82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF5E52861E667B59001E9E82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AFB617FC1E120DEE00D15764</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AFB618051E120DEF00D15764</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
